 body {
        background-color : yellow;
 }

 select{
     width : 250px;
     height: 50px;
 }


 li{
     display : inline;
 }


 .bottom {
     display : flex;
     align-content : flex-end;
 }

 .navigation {
     display : flex;
     justify-content: center;
 }

 .scroll {
     position: fixed;
     bottom: 30px;
     right: 30px;
     display:none;
 }


 .list-group-item {
     cursor: pointer;
 }

 .correct {
     background-color: #289a27;
 }

 .incorrect {
     background-color: #c41a21;
 }

 .buttons {
     padding: 10px 10px 10px 0;
 }
 .progressbar{
     height: 20px;
     width: 100%;
 }


 .start-button{
     display : flex;
     background-color : chartreuse;
     width : 800px;
     height : 100px;
     justify-content: center;
     align-items:center;
     font-size : 40px;
     border-width:4px;
 }

 .result-button{
     width : 400px;
     height : 50px;
     background-color : chartreuse;
 }


 .buttons{
     display: flex;
     flex:1;
     bottom: 100px;
     justify-content: center;
     align-items:center;
 }